@import "~antd/dist/antd.css";
:root {
  --background-theme: #5c56cd;
  --tab-theme: #f0f4fd;
  --text-dark: #11214e;
  --font-regular: "Poppins-Regular", sans-serif;
  --font-light: "Poppins-Light", sans-serif;
  --font-bold: "Poppins-Bold", sans-serif;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./styles/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(./styles/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./styles/fonts/Poppins-Bold.ttf);
}

* {
  box-sizing: border-box;
}

.tab,
.tab-stack {
  width: 100%;
  padding-inline: 4%;
  background-color: var(--tab-theme);
  flex-grow: 1;
  border-radius: 0 0 50px 50px;
  overflow: auto;
}

.tab-stack {
  border-radius: 50px 50px 0px 0px;
}

.tab::-webkit-scrollbar,
.tab-stack::-webkit-scrollbar {
  display: none;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: var(--text-dark);
}
.text-dim {
  color: #8884dc;
}

.font-regular {
  font-family: "Poppins-Regular", sans-serif;
}

.font-bold {
  font-family: "Poppins-Bold", sans-serif;
}

.font-light {
  font-family: "Poppins-Light", sans-serif;
}

a {
  text-decoration: none !important;
}

input::placeholder {
  font-family: "Poppins-Regular", sans-serif;
  color: #919394 !important;
}
